/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}
body{
    background-color:  #EFEBEB;;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--manrope_font);
}
main{
    display: flex;
    width: 100%;
}

/* general styling */

/* the left side banner and its content */
.logo{
    margin: 1% 5%;
}
.sign_up_Desc{
    width: 50%;
    color: #202020;
    padding:1% 5% 0% 5%;
}
.sign_up_Desc .image_box{
    display:grid;
    place-items: center;
}
.logo img{
    width: 150px;
}

.sign_up_Desc h1{
    font-family: var(--manrope_font);
    font-size: 42px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0em;
}

/* the left side banner and its content */


/* the form and its content */

.sign_up_Form{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    padding: 0 130px;

}

/* FORM BUTTON */
.userSelect-Btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    
}
.userSelect-Btn h6{
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    color: #6A6A6A;

}

/* BUTTON FORM  */

/* MAIN FORM */
.userForm{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input_area{
    display: flex;
    justify-content: space-between;
}
.sectA{
    width: 47%;
}
.outline{
    display: flex;
    flex-direction: column;
}
.max_input{
    padding: 10px;
    width: 100%;
    /* height: 48px; */
    background: #FFFFFF;
    border: 1px solid rgba(8, 8, 8, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
}
.min_input{
    padding: 10px;
    width: 100%;
    /* height: 48px; */
    background: #FFFFFF;
    border: 1px solid rgba(8, 8, 8, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.password_note{
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    line-height: 20px;
}

/* submit button  */
.submitBtn{
    width: 100%;
    color: #fff;
    
    background: #34A89D;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
}
.submitBtn:hover{
    background: #097E72;
}
/* submit button  */

.caution_text{
    width: 100%;
}
.caution_text p{
    font-size: 14px;
    font-family: var(--manrope_font);
    font-weight: 400;
    line-height: 20px;
    color: #202020;
}
.caution_text p span a{
    text-decoration: none;
    color: #0B9789;
}


/* password sub text  */
.input_area .lower_text{
display:flex;
justify-content: space-between;
margin-top:10px;

}
.input_area .lower_text a{
color:  #097E72;
text-decoration:none;
}
.caution_text{
text-align: center;
}

/* password sub text  */

/* MAIN FORM  */

/* footer  */
footer{
    background-color: inherit;
    width:50%;
    bottom:2%;
    position:fixed;
    display:flex;
    justify-content: space-around;
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

}
/* footer  */

/* responsive design  */

/* For mobile phones: */
@media only screen and (max-width: 490px) {
    body{
        background-color: #34A89D !important;
        height:100vh;
    }
    main{
        display:block;
    }
    .sign_up_Desc{
        height:100%;
         width:100%;

    }
    .sign_up_Desc .image_box{
        display:none;
    }
    .sign_up_Form   {
        width:100%;
        position:absolute;
        bottom:0;
        padding:20% 2%;
        border-top-left-radius: 50px;
        height:auto;
    }
    .pageTitle{
        margin:0;
    }
    .pageTitle h1{
        font-size:20px;
        position:absolute;
        top:0;
    }
    .pageTitle p
    ,footer{

        display:none;
    }
    .footer{
        width:100%;
    }
    .logo img{
        margin-top:20%;
        width:150px;
    }
  }
  /* For mobile phones: */
/* responsive design  */

/* password sub text  */
.input_area .lower_text{
    display:flex;
    justify-content: space-between;
}
.input_area .lower_text a{
    color:  #097E72;
    text-decoration:none;
}
.caution_text{
    text-align: center;
}
/* password sub text  */