@media (max-width: 425px){
    /* for the nav section */

    nav{
        height: 56px;
    }
    .hamburger{
        display: block;
        height: 100%;
    }
    .cancelBtn{
        display: none;
    }

    .admin_search{
        width: 10%;
        border: none;
        height: 50%;
    }

    nav h3{
        display: none;
    }

    .search_input{
        display: none;
    }
    .schoolBtn{
        width: 30px;
        margin-left: -5%;
    }
    .schoolBtn button{
        display: none;
    }
    .schoolBtn img{
        width: 24px;
        height: 24px;
        /* margin-left: 100%; */
    }

    .nav_icon{
        display: none;
    }

    .logo{
        width: 92px;
        margin-left: 25%;
    }

    .logo img{
        height: 24px;
    }

    /* SIDEBAR */
    #sidebar{
        width: 56px;
        height: 800px;
        margin-left: -56px;
    }
    .side_tab a{
        color: transparent;
        font-size: 0;
    }

    /* DASHBOARD DISPLAY{ */
    .dashboard_section{
        flex-direction: column;
        gap: 30px;
    }
    .dashboard__history{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 110%;
    }
    .history_container{
        /* width: 100%; */
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .dashboard__history h1, .dashboard_message h1, .dashboard__view--title h2{
        font-size: 12px;
        line-height: 20px;
    }
    .dashboard__history--tab{
        width: 136px;
        height: 136px;
    }
    .dashboard__history--tab h3{
        font-size: 14px;
    }
    .dashboard__history--tab p{
        font-size: 12px;
    }
    .dashboard__history--tab img{
        width: 32px;
        height: 32px;
    }
    .sender_name{
        font-size: 12px;
        line-height: 20px;
    }
    .send_time{
        font-size: 10px;
        line-height: 20px;
    }
    .message_content p{
        font-size: 10px;
        line-height: 20px;
    }
    .message_photo img{
        width: 32px;
        height: 32px;
    }

/* DASHBOARD TO ADD STUDENT */
    .dashboard{
        width: 100%;
        margin: 0;
    }
    .dashboard__student--tab{
        border: 1px solid red;
    }
    /* debtor biodata */
    .indicator{
        width: 100px;
        height: 4px;
    }

    .post_list button{
        padding: 12px 20px;
        width: 140px;
        background: transparent;
        border-radius: 6px;
        border: none;
        font-family:var(--manrope_font);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        border: 1px solid red;
    }
}