@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}
#dashboard{
    position: relative;
}
.dashboard__student h1 span{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #04322E;
    display: none;
}
.returnBtn{
    background: transparent;
    border: 2px solid rgba(4, 50, 46, 0.5);
    border-radius: 50%;
    font-size: 40px;
    color: solid rgba(4, 50, 46, 0.5);
    padding: 2px 15px;
}


.dashboard__student--tab{
    display: flex;
    border: none;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    width: 180px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #202020;
    margin-bottom: 5%;
}
.dashboard__student--tab h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.dashboard__student--tab:hover{
    background-color: #097E72;
    border: 2px solid black;
    color: white;
    box-shadow: #04322E 5px 5px 2px;
}

.debtor_history{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2% 2%;
}

.debtor_history--before{
    display: flex;
    justify-content: space-between;
}

.post_list button{
    padding: 12px 20px;
    width: 140px;
    background: #097E72;
    border-radius: 6px;
    border: none;
    font-family:var(--manrope_font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.debtor_search{
    padding: 4px;
    gap: 8px;
    width: 20%;
}

.student_biodata, .sponsor_biodata, .finance{
    display: none;
}

/* indicators */
.form_stage--indicator{
    display: flex;
    gap: 5%;
    margin: 3% 5%;
}
.indication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.indication h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D2D2D2;
}

.indicator{
    width: 230px;
    height: 8px;
    background: #CEEAE7;;
    border-radius: 100px;
}
.active_indicator .indicator{
    background: #097E72;
}
.active_indicator h3{
    color: #202020;
}

.bio_data{
    background: #FFFFFF;
    box-sizing: border-box;
}

.biodata--entry{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bio_data h2{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #04322E;
}

.biodata--image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 50%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.biodata--image_passport{
    margin-bottom: 5%;
}
.biodata--image_passport img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
#profile_picture{
    display: none;
}
.biodata--image_Btn label{
    padding: 12px 16px;
    border: none;
    background: #097E72;
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
}

.biodata--image_Btn label img{
    margin-right: 5px;
}


form{
    width: 100%;
    padding: 0 4%;
}
.form_layer{
    margin-bottom: 30px;
    width: 100%;
}

.form_layer--slide{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_layer--slide_input{
    width: 45%;
}

.form_layer--slide_input label{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #202020;
}

.form_layer--slide_input input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #021E1B;
    outline: none;
}

.double_tab{
    display: flex;
    justify-content: space-between;
}
.double_tab_sect select{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #021E1B;
}

.saveBtn{
    margin: 5% 0;
    padding: 12px 0px;
    width: 140px;
    background: #097E72;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
#prevBtn_1, #prevBtn_1{
    float: left;
}
#saveBtn_1, #saveBtn_2, #saveBtn_3{
    float: right;
}