@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}


body{
    background: #EFEBEB;
}
button{
    cursor: pointer;
}




/* NAVIGATION BAR */
nav{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #D2D2D2;
}
nav h3{
    font-family: var(--manrope_font);
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 68px;
    width: 4%;
    margin-left: -1%;
}
.hamburger button{
    background: transparent;
    border: none;
    padding: 20px;
}


.admin_search{
    padding: 16px 0px 16px 8px;
    gap: 8px;
    width: 40.9%;
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 5%;
}

.searchBtn{
    border: none;
    background: transparent;
    opacity: .5;   
}
.search_input{
    border: none;
    width: 100%;
}

.search_input input{
    border: none;
    width: 95%;
    outline: none;
    margin-left: 10px;
}

.logo{
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
.logo img{
    width: 100%;
    height: 32px;
}
.nav_icon{
    display: flex;
    justify-content: space-between;
    width: 5%;
    margin-right: 8%;
}

.nav_icon a img{
    width: 24px;
    height: 24px;
}

.schoolBtn{
    display: flex;
    width: 180px;
    height: 56px;
}
.schoolBtn img{
    width: 56px;
    height: 56px;
}
.schoolBtn button{
    border: none;
    padding: 2px ;
    width: 200px;
    height: 54px;
    background: #fff;
    color: #6A6A6A;
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#dashboard{
    /* padding-right: 3%; */
    display: flex;
    /* gap: 4%; */
}
/* sidebar */
#sidebar{
    width: 19%;
    height: 739px;
    background: #FFFFFF;
    border-right: 1px solid #D2D2D2;
    margin-right: 2%;
}

.sidebar_icon--panel{
    width: 100%;
    height: 90vh;
    margin-top: 20%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side_tab{
    list-style: none;
    box-sizing: border-box;
    padding: 13px 8px;
    width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
}
.iconic{
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 15px;
}

.side_tab a{
    text-decoration: none;
    color: #454545;
    padding: 5% 0;
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}

.active_side{
    border-left: 4px solid #097E72;
}

.active_side a{
    color: #097E72;
}
.log_out a{
    color: red;
}

.dashboard{
    width: 80%;
    margin: 3% 4%;

}
.dashboard_section{
    display: flex;
}
.dashboard__history{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 47%;
}

.dashboard__history h1, .dashboard_message h1, .dashboard__view--title h2{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #202020;
    margin-top: 2%;
    letter-spacing: 2px;
}

.history_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.dashboard__history--tab{
    display: flex;
    border: none;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    width: 169px;
    height: 169px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #202020;
}

.dashboard__history--tab:hover{
    background-color: #097E72;
    border: 2px solid black;
    color: white;
    box-shadow: #04322E 5px 5px 2px;
}

.dashboard__history--tab h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    flex: none;
}
.dashboard__history--tab p{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex-grow: 0;
}

.message_container{
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2% 5%;
}

.message{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
.message_photo img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.message_content{
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    /* display: flex; */
    /* justify-content: space-between; */
}
.message_content--header{

}

.sender_name{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202020;
}
.send_time{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    float: right;
}

.message_content p{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #6A6A6A;
}

.dashboard__view{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 5%;
}


.dashboard__view--table{
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2% 5%;
}

