/* start of general styling */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}
/* body{
background-color: #34A89D;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--manrope_font);
}
h1{
    font-size:50px;
    font-weight:800;
}
h2{
    font-size:48px;
    font-weight:600;
    text-transform: capitalize;
}
h4{
    font-size:28px;
    font-weight:600;
    text-transform: capitalize;
}
p{
    font-size:16px;
    font-weight:400;
}
/*  start of buttons  */
.button-group button, .button-group a{
    border: 1px solid;
    border-radius:5px;
    padding:10px 20px;
    margin-right:6px;
    text-decoration: none;
    }
    .button-group .sign_in{
        background-color: transparent;
        color:#202020;
        border-color:#202020
        
    }
    .button-group .sign_in:hover{
        background-color: #097E72;
        color:#fff;
        border-color:#097E72;
    }
    .button-group .register{
        background-color: #097E72;
        color:#fff;
        border-color:#097E72;
    }
    .button-group .register:hover{
        color: #097E72;
        background-color:transparent;

    }
    /*  end of buttons  */
/* start of hero section  */
.hero{
    background:  url("../images/Mask\ group.png") ;
  }
.first_section{
    padding:5% 0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color: rgba(224, 209, 209, 0.8);
    backdrop-filter: blur(60px);
}

.first_section .left_side{
    margin:1%;
    width:50%;
    display:flex;
    flex-direction:column;
    display:fixed;

}
.first_box .right_side{
    width:50%;
}
.first_section .image_box{
    width:100%;
    display:flex;
    justify-content:space-around;
    flex-direction: row;
}
.first_section .right_side .image_box img{
    height:450px;
}
.first_section .right_side .first{
    width:300px;
    height:450px;
    object-position: center;
    border-radius:10px;
    object-fit: cover;
}
/* .first_section .right_side .first:hover{
    width:150px;
    object-fit: cover;
    height:100%;
    margin-left:3%;
    border-radius:10px;
    object-position: center;
} */

.first_section .right_side .second,
.first_section .right_side .third{
    width:150px;
    object-fit: cover;
    height:450px;
    margin-left:3%;
    border-radius:10px;
    object-position: center;
}


/* end of hero section  */

/* start of who our services for */
.second_section{
    padding:3%;
    display:grid;
    place-items:center;
}
.second_section .image_group{
    display:flex;
    text-align:center;
    margin-top:2%;
}
.second_section .image_group .image_box{
    width:50%;
    margin:1% 2%;
}
.second_section .image_box img{
    width:550px;
}
.second_section .image_box h4{
    margin:2% 0;
}
/* end of who our services for */

/* start of our services to explore  */
.background{
    background: url('../images/Mask group.png');
}
.third_section{
    padding:5% 0;
    background-color: rgba(224, 209, 209, 0.8);
    backdrop-filter: blur(60px);
}
.third_section .title{
    text-align:center;
}
.third_section .full_box{
    display:flex;
    margin:2% 2% 0 2%;

}
.third_section .image_box{
    width:50%;
    display:grid;
    place-items: center;
}
.third_section .image_box img{
    width: 590px;
    height: 400.46px;
    object-fit: contain;
}
.third_section .content_box{
padding:0 5%;
width:50%;

}
.third_section .detail_box{
    display:flex;
    margin:2%;
}
.third_section .icon_box{
    display:grid;
    place-items: center;
    margin-right:5%;
}
.third_section h4{
    font-size:20px;
}
/* end of our services to explore  */

/* start of trusted by 100 schools  */
.fourth_section{
    margin:5% 0;
}
.fourth_section .title{
    text-align:center;
    margin-bottom: 5%;
}
.fourth_section .school_box{
    display: flex;
    overflow: auto hidden;
    white-space: nowrap;
    flex-direction: column;
}
.fourth_section .school_box::-webkit-scrollbar {
    display: none;
  }
.fourth_section .row{
    display:flex;
    margin:2%;
}
.fourth_section .school{
    display:grid;
    grid-template-columns: auto auto;
    align-items:center;
    width: 200px;
    margin-right:2%;
    word-wrap: break-word;
    word-break: break-all;
}
.fourth_section .row .image_box img{
    width:42px;
    height:42px;
    margin-right:5px;
}
.fourth_section .school .title_box{
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 10px;
}
/* end of trusted by 100 schools  */

/* start of your information safe and secure  */
.fifth_section{
    background: #07655B;
    padding:5%;
    color:white;
    display: grid;
    place-items: center;
}
.fifth_section .icon_box img{
    border-bottom: 1px white solid;
    padding:5% 0;
}
.fifth_section .title{
    text-align: center;
}
.fifth_section p{
    margin: 2% auto;
    width:70%;
    font-size:20px;
    font-weight:200;
    line-height: 30px;
}
.fifth_section a{
    text-decoration: none;
    color:#fff;
    font-size:14px;
}
.fifth_section a:hover{
    opacity: 0.5;
}
/* end of your information safe and secure  */

/* what happy clients say about us  */
.sixth_section{
    padding:5%;
}
.hero-2 {
    padding:5% 0;
    background-color: rgba(224, 209, 209, 0.9 );
    backdrop-filter: blur(200px);
}
.sixth_section .title{
    text-align:center;
    margin-bottom:5%;   
}
.sixth_section .testimonial{
    height:200px;
    background: #CEEAE7;
    margin:0 5%;
    padding: 2%;
    border-radius:6px;
    display:flex;
    align-items: center;
}
.testimonial .image_box, 
.testimonial .principal_box,
.testimonial .content_box{
    margin-right:5%;
}
.testimonial .content_box p{
    font-size:16px;
}
.mySlides {
    display: none;
    width:40%;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    width:100%;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height:50px;
  background: #CEEAE7;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  user-select: none;
  border-radius:50%;
  display: grid;
  place-items:center;
  margin: 0 5%;   
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev{
    left:0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}




.sixth_section .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* what happy clients say about us  */

/* frequently asked questions  */
.seventh_section{
    margin:5% 0;
    display:grid;
    place-items:center;
}
.seventh_section .questions{
    margin: 2% auto;
    width:70%;
}
.seventh_section .dropdown{
    border: 1px solid #E5E7EB;
}
.seventh_section .question {
    display: flex;
    justify-content: space-between;
    padding:2%;
    background-color: #E5E7EB;
}
.seventh_section .question i{
    cursor: pointer;
}
.seventh_section .question .fa-angle-up{
    display: none;
}
.seventh_section .answer{
    display:none;
    padding:2%;
}
/* frequently asked questions  */

/* join 1000 subscribers  */
.eight_section {
display: grid;
place-items:center;
border: 1px solid #8F8F8F
}
.eight_section .grid{
    border-radius: 10px;
    padding:5% 25%;
    border: 1px solid #8F8F8F;
}
.eight_section .title,
.eight_section .title h2
{
    margin-bottom:3%;
}
.eight_section .subscribe_box{
    display: flex;
}
.eight_section input{
padding: 12px;
margin-right:5%;
width: 240px;
height: 44px;
background: #FFFFFF;
/* Neutral/4 */
border: 1px solid #6A6A6A;
border-radius: 4px;
}
.eight_section input::placeholder{
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: rgba(0, 0, 0, 0.3);
}
.eight_section input:focus{
    outline: none;
}
/* join 1000 subscribers  */

/* responsive design  */
@media only screen and (max-width: 490px) {
    /* first section  */
    .hero,.first_section{
        height:100%;
    }
    h1,h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    }
    p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    }
    .first_section{
        flex-direction:column;
        padding:10% 5%;
    }
    .first_section .left_side
    {
        width:100%;
        margin:0;
    }
    .first_section .right_side
    {
        width:100%;
        margin:auto;
        margin-top:5%;
    }
    .first_section .sign_in{
        display:none;
    }
    .first_section .register{
        width:100%;
        margin:2% 0;
    }
    .first_section .left_side h1{
        margin:0 4%;
        text-align:center;
    }
    .first_section .left_side p{
        margin:5%;
        text-align: center;
    }
    .first_section .right_side .image_box  img:not(:first-child){
        display:none
    }
    .first_section .right_side .image_box img{
        width:100%;
        border-radius: 6px;
        height:300px;
        object-fit: cover;
    }
    /* first section  */

    /* second section  */
    .second_section{
        margin:0;
        padding:3% 0;
    }
    .second_section .title{
        padding:5%;
        text-align:center;
    }
    .second_section .image_group{
        flex-direction: column;
        padding:1%;
    }
    .second_section .image_group .image_box{
        width:100%;
        padding:2% 0;
        margin:0;
    }
    .second_section .image_group img{
        width:100%;
        height:275px;
        object-fit: cover;
    }
    /* second section  */
  
    /* our services to explore  */
    .third_section .full_box{
        flex-direction: column;
    }
    .third_section .title{
        padding:2%;
    }
    .third_section .full_box .image_box{
        width:100%;
        align-items:center;
    }
    .third_section .full_box .content_box{
        width:100%;
        padding:0;
    }
    .third_section .full_box .content_box .detail_box{
        margin:5% 1%;
    }
    .third_section .image_box img{
        height:210px;
        width:310px;
    }
    /* trusted by 100 schools  */
    
    /* trusted by 100 schools  */
    /* our services to explore  */
    .eight_section .grid{
        padding:3%
    }
}
/* responsive design  */