/*  start of buttons  */
.button-group button, .button-group a{
    border: 1px solid;
    border-radius:5px;
    padding:10px 20px;
    margin-right:6px;
    text-decoration: none;
    }
    .button-group .sign_in{
        background-color: transparent;
        color:#202020;
        border-color:#202020
        
    }
    .button-group .sign_in:hover{
        background-color: #097E72;
        color:#fff;
        border-color:#097E72;
    }
    .button-group .register{
        background-color: #097E72;
        color:#fff;
        border-color:#097E72;
    }
    .button-group .register:hover{
        color: #097E72;
        background-color:transparent;

    }
    /*  end of buttons  */
/* end of general styling */

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1% 5%;
    background-color:#fff;
}
nav .image_logo img{
    width:150px;
    color:#34A89D;
}
.nav .image_logo{
    width:20%;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    width:80%;
}
/* start of navigation links  */
.nav-links{
    display: flex;
}
nav .nav_links a{
    padding-bottom:5px;
    padding:10px 25px;
    text-decoration:none;
    color:#202020;
    font-size:14px;
}
nav .nav_links a:hover,
nav .nav_links .active{
    border-bottom:3px solid #34A89D;
    color:#34A89D;
}
nav .icon{
    display: none;
}
nav .icon .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
/* end of navigation links  */

/* responsive design  */
@media screen and (max-width: 768px) {

    nav{
        display: flex;
        flex-direction:column;
        transition: 0.5s;
        width: 100%;
        top: 0.5rem;
        height:100%;
        
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 2.5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav_links,
    .nav_buttons{
        display: flex;
        flex-direction: column;
    }
    .nav-menu.active {
        left: 0;
        height:100vh;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .image_logo{
        align-self: flex-start;
    }

     nav .nav-menu .icon {
      display: block;
      cursor: pointer;
    }
    .icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav .icon {
      display: block;
      position: absolute;
      right: 2%;
      top: 0;
    }
    .nav_links a,
    .nav_buttons button {
        margin:2% 0;
    }
    .nav_buttons.button-group button{
        width:100%;
    }
    
  }

