@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: no-repeat url('../images/sign_up2.png');
}
main{
    display: flex;
    width: 100%;
    height: 100vh;
}

/* the left side banner and its content */
.sign_up_Desc{
    width: 47%;
    color: #fff;
    padding: 5% 8%;
}
.logo img{
    height: 50px;
    width: 220px;
}
.pageTitle{
    width: 376px;
    height: 228px;
    margin-top: 120px;
}
.pageTitle h1{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    color: #202020;
}
.pageTitle p{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #202020;

}

.sign_up_Form{
    width: 53%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* MAIN FORM */
.userForm{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input_area{
    display: flex;
    justify-content: space-between;
}
.sectA{
    width: 47%;
}
.outline{
    display: flex;
    flex-direction: column;
}
.max_input{
    padding: 10px;
    width: 100%;
    /* height: 48px; */
    background: #FFFFFF;
    border: 1px solid rgba(8, 8, 8, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
.min_input{
    padding: 10px;
    width: 100%;
    /* height: 48px; */
    background: #FFFFFF;
    border: 1px solid rgba(8, 8, 8, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
label{
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.password_note{
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    line-height: 20px;
}
.submitBtn{
    width: 100%;
    color: #fff;
    background: #097E72;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
}


.caution_text p{
    font-size: 14px;
    font-family: var(--manrope_font);
    font-weight: 400;
    line-height: 20px;
    color: #202020;
}
.caution_text p span a{
    text-decoration: none;
    color: #0B9789;
}

footer{
    height: 83px;
    background: #fff;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 12.9889px;
    line-height: 19px;
    color: #202020;

}