@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}


body{
    background-color: #fff;
    padding: 0 3%;
}
button{
    cursor: pointer;
}

/* sidebar */
#sidebar{
    width: 386px;
    position: absolute;
    margin-left: -430px;
    z-index: 1000;
}

.sidebar_image_box{
    width: 100%;
    height: 231px;
    background: #07655B;
    border: 1px solid #D9D9D9;
}

.menubar {
    margin-top: 7%;
    margin-left: 90%;
    position: relative;
}
.menubar button{
    color: #fff;
    background: transparent;
    border: none;
    position: absolute;
}

.sidebar_image_box--content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
}
.sidebar_image_box--content h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.user_photo img{
    box-sizing: border-box;
    width: 133px;
    height: 146.9px;
    background: url(.jpg), #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    margin-right: 20px;
}

.sidebar_space{
    height: 5%;
    background: #0B9789;
}

.sidebar_icon--panel ul li{
    list-style: none;
    box-sizing: border-box;
    padding: 5% 0;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    color: #04322E;
}
.sidebar_icon--panel ul li a{
    text-decoration: none;
    padding: 5% 0;
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    box-sizing: border-box;

}
.active_side_tab{
    background: #07655B;
    color: #fff;
}


/* NAVIGATION BAR */
nav{
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    background: #097E72;
    border: 1px solid #097E72;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 68px;
    width: 4%;
    margin-left: -1%;
}
.hamburger button{
    background: transparent;
    border: none;
    padding: 20px;
}


.admin_search{
    width: 525px;
    display: flex;
    background: #fff;
    padding: 7px 5px;
    margin-right: 3%;
}
.searchBtn{
    border: none;
    background: transparent;
    opacity: .5;   
}
.search_input{
    border: none;
    width: 100%;
}

.search_input input{
    border: none;
    width: 95%;
    outline: none;
    margin-left: 10px;
}

.logo{
    margin-left: 2%;
    margin-right: 2%;
}
.logo img{
    width: 135px;
    height: 38px;
}
.nav_icon{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 8%;
}
.nav_icon a i{
    color: #fff;
}

.schoolBtn button{
    padding: 2px 16px;
    width: 176.39px;
    height: 54px;
    background: #0B9789;
    border: 4px solid #064C45;
    border-radius: 4px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.dashboard h1{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 66px;
    color: #04322E;
    margin-top: 2%;
    letter-spacing: 2px;
}

.dashboard__history{
    display: flex;
    gap: 20px;
    margin-top: 5%;
    margin-left: 9%;
}

.dashboard__history--tab{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background: #CEEAE7;
    border: 2px solid #097E72;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #04322E;
}

.dashboard__history--tab:hover{
    background-color: #097E72;
    border: 2px solid black;
    color: white;
    box-shadow: #04322E 5px 5px 2px;
}

.dashboard__history--tab h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    flex: none;
    order: 1;
}
.dashboard__history--tab p{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    order: 2;
    flex-grow: 0;
}

.dashboard__view--title {
    padding: 4px 8px;
    background: #CEEAE7;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px 2px #0B9789;
    margin-top: 10%;
}
.dashboard__view h2{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #04322E;
}

.dashboard__view--table{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    gap: 24px;
    background: #CEEAE7;
    border-radius: 16px;
    margin-top: 15px;
}

.dashboard__view--table h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}