@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --manrope_font: 'Manrope', sans-serif;
}

body{
   margin: 0;
   padding: 0;

}

.container{
    width: 100%;
    height: 100vh;
    padding: 7% 20%;
    box-sizing: border-box;
    background: #EFEBEB;
}

.context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    width: 100%;
    height: 110%;
    border-radius: 16px;
    padding: 0 10%;
    box-sizing: border-box;
    margin: 0px 14px;
}

.overlay{
    margin-top: -40%; 
}

.content{
    margin: 0 ;
    border-style: none;
}

h3{
    font-family: var(--manrope_font);
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: black;
    text-align: center;
    /* margin-bottom: 0;
    margin-top: 0; */
    margin: 10px;
}

p{
    font-family: var(--manrope_font);
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: black;
    line-height: 8px;
}

.confirm_btn{
    box-sizing: border-box;
    padding: 9px 90px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: #097E72;
    color: white;
    margin: 22px;
}